@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: auto;
  scrollbar-color: #3333 #61616133;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #0f172a;
}

*::-webkit-scrollbar-thumb {
  opacity: 1.5;
  background-color: #f09000;
  border-radius: 10px;
}
